* {
	box-sizing: border-box;
}

.background_image {
	background: url(recipe_background.jpeg);
	background-repeat: no-repeat;
  background-size: cover;
}

.background_image_2 {
	background: url(food_background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%; 
}

.vertical-center {
  min-height: 60%;
  min-height: 85vh;

  display: flex;
  align-items: center;
}
