@charset "utf-8";


body{
	box-shadow: 10px 10px 50px #333333,
				-10px 10px 50px #333333;
}





#center > article{
	background:radial-gradient(white, rgb(151, 151, 151));	
	border:1px solid rgb(151, 151, 151);
	border-radius:50px;
}

.clear{
	clear:both;	
}


