* {
  box-sizing: border-box;
}

#upload-btn {
  position: absolute;
  right: 268px;
}

.background_image {
  background: url(recipe_background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.vertical-center {
  min-height: 60%;
  min-height: 85vh;

  display: flex;
  align-items: center;
}